<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>

        <link rel='stylesheet' href='/static/css/add_files.css'>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Comfortaa:wght@300..700&family=Comic+Relief:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Tagesschrift&display=swap" rel="stylesheet">
    </head>
    <body>
    <form method="post" enctype="multipart/form-data">

        <div class='inline'>
            <span class='filecell file'>File</span><span class="filecell cell">Cell</span>

            <a href="/logout"><span class='letter first'>{{current_user.username}}</span></a>
        </div>

        <div class='pass-height-20px'></div>
        <div class='sidebar'>
            <label for='ffile'><span class='plus'>+</span>Загрузить</label>
            <input type='file' id='ffile' name="files" multiple>
        </div>


        <div class='main-zone'>
            <div class='main-text'>Название:</div>
            <div class='inline'>
                <input type='text' name="title" required>
                {% if message != '' %}
                    <span class='message'>{{message}}</span>
                {% endif %}
            </div>

            <div class='pass-height-20px'></div>

            <div class='main-text'>Описание:</div>
            <div class='inline'>
            <input type='text' name="description">
            </div>
            <hr class='main-hr'>

            <div class='type-word'>Файлы</div>
            <div class='pass-height-20px'></div>


        </div>

        <div class='pass-height-20px'></div>

        <div class='storage-main'>
            <div class='storage-word'>Хранилище</div>
            <hr class='storage'>
            <div class='other-text'>
                Заполнено: {{used_memory}} ГБ
                <div class='pass-height-10px'></div>
                Доступно: {{available_memory}} ГБ
            </div>
        </div>

        <div class="pass-height-10px"></div>

        {% if not is_pro %}
        <div class='upgrade-storage'>
            <div class='upgrade-text'>
            Расширить хранилище
            </div>
        </div>
        {% endif %}

        <div class='pass-height-10px'></div>

        <div class='storage-main'>
            <div class='storage-word'>Доступ</div>
            <hr class='storage'>
            <div class='other-text'>
                <input type='checkbox' name="is_private">
                <label>Приватная</label>

                <div class='pass-height-10px'></div>
                <input type='password' placeholder="Пароль" name="password">
            </div>
        </div>

        <div class='pass-height-10px'></div>

        <button type='submit' class="upgrade_storage"><span class='upgrade-text'>Сохранить</span></button>
    </form>
    </body>
</html>
