<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>

        <link rel='stylesheet' href='/static/css/add_files.css'>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Comfortaa:wght@300..700&family=Comic+Relief:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Tagesschrift&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class='inline'>
            <span class='filecell file'>File</span><span class="filecell cell">Cell</span>

            <a href="/logout"><span class='letter first'>{{current_user.username}}</span></a>
        </div>

        <div class='pass-height-20px'></div>

        <div class='sidebar'>
        <form method="post" enctype="multipart/form-data">
            <label for='ffile'><span class='plus'>+</span>Загрузить</label>
            <input type='file' id='ffile'>

        </form>

        </div>



        <div class='main-zone'>
            <div class='main-text'>Название:</div>
            <div class='inline'>
            <input type='text'>
            </div>

            <div class='pass-height-20px'></div>

            <div class='main-text'>Описание:</div>
            <div class='inline'>
            <input type='text'>
            </div>
            <hr class='main-hr'>

            <div class='type-word'>Папки</div>
            <div class='pass-height-20px'></div>

            <div class='file-card'>
                <div><img width="30" height="30" src="https://img.icons8.com/ios-filled/30/folder-invoices--v2.png" alt="folder-invoices--v2" class='img-directory'></div>
                <span class='filename'>ubuntu</span>
            </div>

            <div class='type-word'>Файлы</div>
            <div class='pass-height-20px'></div>

            <div class='file-card'>
                <div><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/100/file--v1.png" alt="file--v1" class='img-directory'></div>
                <span class='filename'>ubuntu</span>
            </div>

        </div>

        <div class='pass-height-20px'></div>

        <div class='storage-main'>
            <div class='storage-word'>Хранилище</div>
            <hr class='storage'>
            <div class='other-text'>
                Заполнено: {{used_memory}} ГБ
                <div class='pass-height-10px'></div>
                Доступно: {{available_memory}} ГБ
            </div>
        </div>

        <div class="pass-height-10px"></div>

        <div class='upgrade-storage'>
            <div class='upgrade-text'>
            Расширить хранилище
            </div>
        </div>

        <div class='pass-height-10px'></div>

        <div class='storage-main'>
            <div class='storage-word'>Доступ</div>
            <hr class='storage'>
            <div class='other-text'>
                <input type='checkbox'>
                <label>Приватная</label>

                <div class='pass-height-10px'></div>
                <input type='password' placeholder="Пароль">
            </div>
        </div>

        <div class='pass-height-10px'></div>

        <div class='upgrade-storage'>
            <div class='upgrade-text'>
            Сохранить
            </div>
        </div>

    </body>
</html>
