body{
    background: aliceblue;
}

.filecell{
    font-size: 30px;
    float: left;
}
.file{
    color:#9400ff;
    font-family: "Comic Relief", "system-ui";
    font-weight: 900;
    float: left;
}
.cell{
    color:#0086ea;
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-top: 3px;
}

.plus{
    font-size: 40px;
    font-weight: 100;
    padding-left: 15px;

}

label[for='ffile']{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: white;
    width: 175px;
    padding-right: 23px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-weight: 200;
}

.pass-height-20px{
    padding-top: 20px;
}

a{
    color: #0086ea;
}
.letter{
    font-size: 28px;
    font-family: "Roboto Flex", sans-serif;
    font-style: italic;
    font-weight: 600;
    right: 20px;
    position: absolute;
    color:  #041264;

}

.main-text{
    font-size: 26px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    text-align: left;
    display: inline-block;
}



.main-zone{
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 200px;
    top: 73px;
    padding-top: 20px;
    padding-left: 40px;
    width: 70%;
    min-height: 88%;


}

.sidebar{
    width: 200px;
}



.pass-width-40{
    padding-left: 40%;
}



hr{
    width: 98%;
    color: #a9daff;
}

.main-hr{
    color: gray;
    position: relative;
    left: -31px;
    width: 103%
}

.storage-main{
    border-radius: 20px;
    padding-top: 10px;
    width: 175px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: white;

}

.storage-word{
    text-align: center;
    font-size: 18px;
    font-weight: 500
}

.other-text{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 15px;

}

.pass-height-10px{
    padding-top: 10px;
}

.storage{
    color: black;
}

.upgrade-storage{
    border-radius: 20px;
    height: 40px;
    width: 175px;
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.upgrade-text{
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    color: #006bba;
    font-family: "Roboto", sans-serif;
}

.file-card {
    border-radius: 10px;
    border: 1px solid;
    border-color: #0086ea;
    background-color: #f0f8ff;
    font-family: "Roboto", sans-serif;
    width: 20%;
    min-width: 200px;
    height: 50px;
    display: inline-block;
}

.img-directory {
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
}

.filename{
    line-height: 50px;
    position: relative;
    left: 50px;
    top: -42px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.pass-horizontal-10px{
    padding-left: 10px;
    display: inline-block;
}

.type-word{
    font-size: 26px;
    font-family: "Roboto", sans-serif;
}

input[type='password']{
    border-radius: 10px;
    border: 1px solid;
    background-color: aliceblue;
    height: 20px;
    padding-left: 5px
}


#title{
    background-color: aliceblue;
    border-radius: 10px;
    border: none;
    border-color: black;
    height: 30px;
    padding-left: 10px;
    margin-left: 10px;
    width: 400px;
    font-family: "Roboto Flex", sans-serif;
}

#description{
    background-color: aliceblue;
    border-radius: 10px;
    border: none;
    border-color: black;
    height: 30px;
    padding-left: 10px;
    margin-left: 10px;
    width: 400px;
    font-family: "Roboto Flex", sans-serif;
}

input[type='file']{
    display: none
}

#save{
    border-radius: 20px;
    height: 40px;
    width: 175px;
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    border: none
}

.message{
    background-color: #ffb2b2;
    border: 1px solid;
    border-color: #ff0000;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    font-family: "Cascadia Code", sans-serif;
    color: #484848;
    font-size: 11px;
    display: inline;
}

.delete_checkbox{
    display: inline;
    position: relative;
    top: -35px;
    float: right;
    right: 5px;
}

input[type='checkbox']{
    display: none
}

input[type='checkbox'] + label{
    background: url('https://img.icons8.com/ios-glyphs/30/trash--v1.png');
    height: 24px;
    width: 24px;
}

input[type='checkbox']:checked + label{
    background: url('../img/deleted.png');
    height: 24px;
    width: 24px;
}

#is_private{
    display: inline;
}

#is_private + label{
    background: none;
}

.input-text{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    padding-bottom: 8px;
    width: 20%;

    height: 18px;
    border-radius: 10px;
    border-color: #ffffff;
    font-size: 28px;
    font-family: "Cascadia Code", sans-serif;
    color: gray;
    text-align: center;
}

.find{
    font-size: 28px;
    font-family: "Cascadia Code", sans-serif;
    color: aliceblue;
    background-color: #9400ff;
    border-radius: 10px;
}

.padding_t1{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav{
    text-align: center;
}