body{
    background: aliceblue;
}

.filecell{
    font-size: 30px;
    padding-top: 10px;

}
.file{
    color:#9400ff;
    font-family: "Comic Relief", "system-ui";
    font-weight: 900;
    padding-left: 10px;
}
.cell{
    color:#0086ea;
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
}

.plus{
    font-size: 40px;
    font-weight: 100;
    padding-left: 25px;

}

.create-btn{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: white;
    width: 175px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-weight: 200;
}

.pass-height-20px{
    padding-top: 20px;
}

a{
    color: #0086ea;
}
.letter{
    font-size: 28px;
    font-family: "Roboto Flex", sans-serif;
    font-style: italic;
    font-weight: 600;
    right: 20px;
    position: absolute;
    color:  #041264;

}

.main-text{
    font-size: 30px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    text-align: center;


}



.main-zone{
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 200px;
    top: 73px;
    padding-top: 20px;
    padding-left: 40px;
    width: 70%;
    min-height: 88%;


}

.sidebar{
    width: 200px;
}

.card{
    border-radius: 10px;
    border: 1px solid;
    border-color: #0086ea;
    background-color: aliceblue;
    font-family: "Roboto", sans-serif;
    height: 135px;

    position: relative;
    right: 20px;

    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
}

.name-directory{
    font-weight: 600;
    color: #006bba;
    text-align: center;
}

.second-line{
    padding-left: 10px;
    text-align-last: center;
    font-weight: 300;
}

.pass-width-40{
    padding-left: 40%;
}

.author-name{
    font-weight: 400;
    color: #041264;
}

.maked-date{
    font-weight: 400;
    color: #041264;
}

.description{
    font-size: 16px;
    color: #041264;
}

hr{
    width: 98%;
    color: #a9daff;
}

.main-hr{
    color: gray;
    position: relative;
    left: -31px;
    width: 103%
}

.storage-main{
    border-radius: 20px;
    padding-top: 10px;
    width: 175px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: white;

}

.storage-word{
    text-align: center;
    font-size: 18px;
    font-weight: 500
}

.other-text{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 15px;

}

.pass-height-10px{
    padding-top: 10px;
}

hr[id='storage']{
    color: black;
}

.upgrade-storage{
    border-radius: 20px;
    height: 40px;
    width: 175px;
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.upgrade-text{
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    color: #006bba;
    font-family: "Roboto", sans-serif;
}