.register-border {
    border-radius: 50px;
    background-color: aliceblue;
    width: 382px;
    height: 374px;
    border: 3px solid;
    border-color: #0086ea;
}


.filecell{
    font-size: 30px;
    padding-top: 18px;
    display: inline-block;
}
.file{
    color:#9400ff;
    font-family: "Comic Relief", "system-ui";
    font-weight: 900;
    padding-left: 137px
}
.cell{
    color:#0086ea;
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
}
.inline{
    display: inline;
}

.register-text{
    font-family: "Roboto Flex", sans-serif;
    padding-left: 30px;
    font-weight: 600;
}

.register-text[id='1']{
    font-size: 28px;
}

.input {
    padding-left: 30px;
    padding-top: 10px;
}

.pass-height{
    padding-top: 30px;
}
.pass-left{
    padding-left: 70px;
    padding-top:24px;
}

input{
    border-radius: 10px;
    border: none;
    height: 45px;
    width: 300px;
    font-size: 20px;
    padding-left: 10px;
    font-family: "Cascadia Code", sans-serif;
    color: gray;
}

input[type='checkbox']{
    height: 20px;
    width: 20px;
    padding-top: 20px;
    display: block;
}

button[type='submit']{
    background-color: #0086ea;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-family: "Cascadia Code", sans-serif;
    width: 326px

}
.message{
    background-color: #ffb2b2;
    border: 1px solid;
    border-color: #ff0000;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    font-family: "Cascadia Code", sans-serif;
    color: #484848;
    font-size: 11px;
}

.text{
    font-family: "Cascadia Code", sans-serif;
    color: gray;
}
